@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;0,500;0,700;0,800;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Newsreader', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f8f6;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f7f8f6;
}

.dark ::-webkit-scrollbar-track {
  background: #192111;
}

::-webkit-scrollbar-thumb {
  background: #80df20;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6bc418;
}